@{
    ViewData["Title"] = "Edit Profile";
}



@model taskify.Models.User





<section class="w-screen h-screen flex items-center justify-center">

<form action="/me/edit" method="POST" class="w-11/12 md:w-3/4 xl:w-2/4">

     <h1 class="text-3xl font-bold">Edit Profile</h1>
     <p class="text-gray-500 font-bold">Editing my profile</p>

        <br/>
         <div class="my-4">
            <label asp-for="Id" class="block my-2">User Id</label>
            <input class="input border-[1px] border-gray-200 focus:outline-none rounded-md w-full h-[3.7rem]" type="text"  asp-for="Id" placeholder="My id" value="@Model.Id" readonly/>
            <span asp-validation-for="Id" class="text-red-500 text-sm"></span>
        </div>
        
        <div class="my-4">
            <label asp-for="Fullname" class="block my-2">Fullname</label>
            <input class="input border-[1px] border-gray-200 focus:outline-none rounded-md w-full h-[3.7rem]" type="text"  asp-for="Fullname" placeholder="Enter your fullname" value="@Model.Fullname"/>
            <span asp-validation-for="Fullname" class="text-red-500 text-sm"></span>
        </div>



            
        <div class="my-4">
            <label asp-for="UserName" class="block my-2">Username</label>
            <input class="input border-[1px] border-gray-200 focus:outline-none rounded-md w-full h-[3.7rem]" type="text"  asp-for="UserName" placeholder="Enter your username" value="@Model.UserName"/>
            <span asp-validation-for="UserName" class="text-red-500 text-sm"></span>
        </div>


        <div class="my-4">
            <label asp-for="Email" class="block my-2">Email</label>
            <input class="input border-[1px] border-gray-200 focus:outline-none rounded-md w-full h-[3.7rem]" type="text"  asp-for="Email" placeholder="Enter todo title" value="@Model.Email" readonly/>
            <span asp-validation-for="Email" class="text-red-500 text-sm"></span>
        </div>



        <div class="my-4">
            <label asp-for="PhoneNumber" class="block my-2">Phone Number</label>
            <input class="input border-[1px] border-gray-200 focus:outline-none rounded-md w-full h-[3.7rem]" type="text"  asp-for="PhoneNumber" placeholder="Enter your phone number" value="@Model.PhoneNumber"/>
            <span asp-validation-for="PhoneNumber" class="text-red-500 text-sm"></span>
        </div>

        <div class="my-5">
            <button class="btn bg-[#181717] hover:bg-black text-white w-full h-[3.7rem]">Update Profile</button>
        </div>

    </form>

</section>


@section Scripts{
    <partial name="_ValidationScriptsPartial"/>
}